@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(var(--final-rotation));
  }
}

.wheel-spinning {
  animation: spin var(--spin-time) cubic-bezier(0.2, 0, 0.15, 1) forwards;
}